:root{

    --footerAndHero:#1F2937;
}
body{
    margin: 0;
   
}
.section1{
    background-color: var(--footerAndHero);
    padding: 3rem 5rem 5rem 5rem;
   
}

.hero{
    
    
    display: flex;
    justify-content: space-between;
   
    
   
   
}
.logo{
    font-weight: 900;
    font-size: 25px;
    color: #E5E7EB;
}
.nav-links{
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    color: #F9FAF8;
    align-items: center;
  
}
.hero-text-container{
    margin-top: 4rem;
}
.hero-text{
    color: #F9FAF8;
   font-size: 48px;
   font-weight: bolder;
  
   
}
.hero-Background{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;
}
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-landscape-img{

    width: 35rem;
    height: 15rem;
    margin-top: 4rem;
    border-radius: 1rem;
    
   
}
.signup{
    width: 20%;
   
    color: white;
    border-radius: .6rem;
    padding: .5rem;
    font-size: medium;
    margin-top: 1rem;
    background-color: #3882F6;
    cursor: pointer;
    border-color: transparent;
}


